@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .section-about {
    .title-wrapper {
      font-size: 56px;
      font-weight: 900;
      color: rgba(95, 95, 95, 0.1);
      margin-top: 18px;
    }
    .title-wrapper-child {
      top: -40px;
      h2 {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 0;
        color: $color-default;
      }
    }
    .information {
      position: relative;
      top:20px;
      ul {
        li {
          p {
            font-weight: 500;
            font-size: 16px;
            span {
              font-weight: 300;
            }
          }
      
        }
      }
    }
  }
  
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .homepage {
    .banner-image {
      min-height: 300px !important;
      position: relative;
      left: 0;
      background-size: cover;
      right: 0;
      z-index: 1;
  
  }
  .introduction {
    .section {
      .col-md-6 {
        width: 100%;
      }
      .choose-item {
        i {
          width: 50px !important;
          height: 50px !important;
          line-height: 50px !important;
          font-size: 20px !important;
        }
      }
      .choose-item-detail {
        i {
          width: 50px !important;
          height: 50px !important;
          line-height: 50px !important;
          font-size: 20px !important;
        }
      }
    }
  }
  } 
}
@media screen and (max-width: 767px) {
  .section-about {
    .header-tab-bar {
      img {
        width: 60% !important;
      }
    }
    .about-info {
      .col-sm-5 {
        width: 100%;
      }
      .col-sm-7 {
        width: 100%;
      }
      .profile-social {
        padding: 15px !important;
        ul {
          li {
            margin: 0 15px !important; 
            a {
              width: 35px !important;
              height: 35px !important;
              line-height: 35px !important;
              i {
                font-size: 16px !important;
              }
            }
          }
        }
      }
      .profile-info-user {
        text-align: center;
        .profile-hello {
          display: none;
        }
      }
    }
  }
  .homepage {
    .navbar-toggler {
      box-shadow: none;
    }
    .navbar-collapse {
      position: absolute;
      top: 47px;
      z-index: 9;
      width: 100%;
      background: rgb(255, 255, 255);
      ul {
        li {
          margin-left: 20px;
        }
      }
    }
    .banner-image {
      min-height: 300px !important;
      position: relative;
      left: 0;
      background-size: cover;
      right: 0;
      z-index: 1;
  
  }
  .top-bar {
    ul.nav-pills {
      li {
        text-align: center;
        span {
          display: none;
        }
      }
    }
  }
  .introduction {
    .col-md-7 {
      margin-top: 30px;
    }
    .section {
      .col-md-6 {
        width: 100%;
      }
      .col-md-6:nth-child(2) {
        margin-top: 15px;
      }
      .choose-item {
        i {
          width: 50px !important;
          height: 50px !important;
          line-height: 50px !important;
          font-size: 20px !important;
        }
      }
      .choose-item-detail {
        i {
          width: 50px !important;
          height: 50px !important;
          line-height: 50px !important;
          font-size: 20px !important;
        }
      }
    }
  }
  } 

}

@media screen and (max-width: 480px) {
  .homepage {
    .banner-image {
      min-height: 200px !important;
      position: relative;
      left: 0;
      background-size: cover;
      right: 0;
      z-index: 1;
  
  }
  }
  .section-about {
    .header-tab-bar {
      img {
        width: 80% !important;
      }
    }
    .about-info {
      .col-sm-5 {
        width: 100%;
      }
      .col-sm-7 {
        width: 100%;
      }
      .profile-social {
        padding: 15px !important;
        ul {
          li {
            margin: 0 8px !important; 
            a {
              width: 35px !important;
              height: 35px !important;
              line-height: 35px !important;
              i {
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
  }

}